[Unit]
Description=ttyd
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/ttyd -t disableReconnect=true /bin/bash
Type=exec
Restart=always
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
